body {
    font-family: "Quicksand", sans-serif;
    color: black;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 15px;
    background: url("../images/pidgeon-background.jpg") #dddddd;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2em;
    line-height: 1.5;
    color: #c12258;
}

.datacite a {
    color: #c12258;
    font-size: 18px;
    text-decoration: underline;
}

:focus {
    border: 1px solid red;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    /* hover!*/
    background-color: #fab9cf;
}

table {
    border-collapse: separate;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

th,
td {
    border-top: 2px solid black;
}

.colhead {
    width: 150px auto;
    padding: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #7e0830;
}

.colhead:last-child {
    border-top-right-radius: 10px;
}

.colhead:first-child {
    border-top-left-radius: 10px;
}

tr:last-child th:first-child.rowhead {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

td {
    text-align: center;
    padding: 15px;
}

footer {
    /* needs to be at bottom - sticky footer? */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    height: 60px auto;
    text-align: center;
}